<!-- Pagination -->
<div class='card card-body border-top-teal text-center'>
  <ul class='pagination pagination-separated align-self-center'>

    <li
      class='page-item {{if this.isPrevDisabled "disabled"}}'
      data-test-selector='previous-page'
    >
      <LinkTo
        aria-label='Previous'
        @route={{@route}}
        @query={{hash page=this.prevPageNumber}}
        class='page-link'
        data-test-selector='previous-page-link'
      > <span aria-hidden='true'>&laquo;</span></LinkTo>
    </li>

    {{#each this.pages as |page|}}
      <li
        class='page-item {{if page.active " active"}}'
        data-test-selector='page-number'
      >
        <LinkTo
          @route={{@route}}
          @query={{hash page=page.number}}
          class='page-link'
          data-test-selector='page-number-link'
        >{{page.number}}</LinkTo>
      </li>
    {{/each}}

    <li
      class='page-item {{if this.isNextDisabled "disabled"}}'
      data-test-selector='next-page'
    >
      <LinkTo
        aria-label='Next'
        @route={{@route}}
        @query={{hash page=this.nextPageNumber}}
        class='page-link'
        data-test-selector='next-number-link'
      ><span aria-hidden='true'>&raquo;</span></LinkTo>
    </li>
  </ul>
</div>
<!-- /Pagination -->