{{page-title 'Users'}}
{{page-header heading='Users'}}
<PageContent>
<CardTable @title="All Users">
{{#if @model.data}}
<Table @headers={{@model.headers}}>
{{#each @model.data as |user|}}
{{users/user-row user=user}}
{{/each}}
</Table>
{{else}}
{{no-data-overlay message='No users are here... yet.'}}
{{/if}}
{{pagination
maxPagesInList='10'
route='users.index'
recordCount=@model.meta.pagination.total
pageSize=@model.meta.pagination.limit
pageNumber=@model.meta.pagination.page
}}
</CardTable>
</PageContent>