<div class='col-lg-6'>
    <label>Enter your Name:</label>
    <input type='text' class='form-control' value={{@user.name}} />
</div>
<div class='col-lg-6'>
    <label>Enter your Email</label>
    <input type='email' class='form-control' value={{@user.email}} />
</div>
<div class='col-lg-6'>
    <label>Enter your Gender</label>
    <input type='text' class='form-control' value={{@user.gender}} />
</div>
<div class='col-lg-6'>
    <label>Enter your Status</label>
    <input type='text' class='form-control' value={{@user.status}} />
</div>
{{yield}}