 {{!-- <ValidatedForm

  @model={{changeset this.model this.PostValidations}}
    @on-submit={{action 'submit'}}
    @submit-label='Save'
    as |f|
  >

    {{f.input label='Title' name='title'}}
    {{f.input label='Message' name='body'}}
    {{f.submit label='Save'}}

    </ValidatedForm> --}}
      <form action='#' class='form-horizontal'>
        <div class='modal-body'>
          <div class='form-group row'>
            <label class='col-form-label col-sm-3'>Title</label>
            <div class='col-sm-9'>
              <input
                type='text'
                class='form-control'
                placeholder='Default input'
                value={{@post.title}}
              />
            </div>
          </div>

          <div class='form-group row'>
            <label class='col-form-label col-sm-3'>Message</label>
            <div class='col-sm-9'>
              <textarea
                rows='5'
                cols='3'
                class='form-control'
                placeholder='Default textarea'
                value={{@post.body}}
              ></textarea>
            </div>
          </div>
        </div>

        <div class='modal-footer'>
          <button
            type='button'
            class='btn btn-link'
            data-dismiss='modal'
          >Close</button>
          <button type='submit' class='btn btn-primary'>Create</button>
        </div>
      </form>

        
{{yield}}